.cart-grid {
  margin-bottom: 0;
  .card-block {
    width: 1170px;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .cart-container {
    width: 1170px;
    margin: auto;
    text-align: center;
    box-shadow: none;
    border: none;
    .header-cart-container {
      text-align: left;
    }
    #table {
      display: flex;
      background-color: $gray-lighter;
      p {
        margin-top: 1em;
      }
    }
  }
  .continu-shopping {
    display: flex;
    padding: 1em 0;
    .btn-primary {
      background-color: black;
      font-weight: 100;
      box-shadow: none;
      text-transform: none;
      font-weight: 100;
      padding: 1em;
    }
  }
  .cart-summary {
    padding-right: 0em;
    .cart-summary-inner {
      background-color: $gray-lighter;
      border: 1px solid #ccc;
      padding: 2em;
      text-align: left;
      .cart-detailed-totals {
        .card-shipping {
          & .cart-summary-line:nth-child(1) {
            padding-top: 0;
            padding-bottom: 1;
            border-bottom: 1px solid #ccc;
          }
          .cart-summary-line {
            padding: 0.5em 0;
          }
        }
        .cart-summary-totals {
          padding-top: 1em;
          border-top: 1px solid #ccc;
        }
      }
    }
    .cart-detailed-actions {
      .text-sm-center {
        padding: 1em 0;
        .btn-primary {
          background-color: black;
          font-weight: 100;
          padding: 1em;
          width: 100%;
          box-shadow: none;
          text-transform: none;
        }
      }
    }
  }
}
.cart-items {
  margin-bottom: 0;
}
.cart-item {
  padding: 1rem 0;
}
.card-block {
  padding: 1.25rem 1.25rem 0.5rem;
  &.checkout {
    padding-bottom: 1.75rem;
    padding-top: 0;
    margin-top: 1rem;
  }

  &.cart-summary-totals {
    padding: 0 1rem 1rem;
    .cart-summary-line {
      padding: 0.5rem 0.2rem 0;

      &:last-child {
        margin-bottom: 0;
      }
      &.cart-total {
        background-color: $gray-light;
        padding: 0.5rem;
        .label,
        .value {
          font-weight: bold;
        }
        .label {
          font-size: 1rem;
        }
        .value {
          font-size: 1.125rem;
        }
      }
      span {
        &.sub {
          text-align: left;
          font-size: 0.88rem;
          float: none;
        }
      }
    }
  }
}

.cart-summary-line {
  @include clearfix;
  clear: both;
  margin-bottom: 0.315rem;
  .label {
    padding-left: 0;
    font-weight: normal;
    white-space: inherit;
    color: $gray-dark;
  }
  .value {
    color: $gray-darker;
    float: right;
  }
  &.cart-summary-subtotals {
    .label,
    .value {
      font-weight: normal;
    }
  }
}
/** CART BODY **/
.cart-grid-body {
  padding-left: 0;
  padding-right: 0;
  > div {
    padding-left: 0;
    padding-right: 0;
  }
  a.label {
    &:hover {
      color: $brand-primary;
    }
  }
  .card-block {
    padding: 1rem;
    h1 {
      margin-bottom: 0;
    }
  }
  .cart-overview {
    /* padding: 1rem; */
  }
  margin-bottom: 0.75rem;
}
/** CART RIGHT **/
.cart-grid-right {
  display: flex;
  padding: 2em 0;
  .cart_coupon {
    padding-left: 0;
  }
  .promo-discounts {
    margin-bottom: 0;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .cart-summary-line {
      .label {
        font-size: 1rem;
        color: $gray;

        .code {
          color: $warning-second;
          cursor: pointer;
        }
      }
    }
  }
  .cart-summary-line {
    &.cart-subtotal-products {
      .label,
      .value {
        font-weight: 600;
      }
      .value {
        font-size: 1rem;
      }
    }
  }
}

.block-promo {
  margin-bottom: 1rem;

  .promo-code {
    padding: 1rem;
    .alert-danger {
      position: relative;
      margin-top: 1.25rem;
      background: $brand-danger;
      color: white;
      display: none;
      &::after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $brand-danger;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    form {
      text-align: center;
    }
  }
  .promo-input {
    color: $gray-darker;
    border: $gray 1px solid;
    height: 2.5rem;
    text-indent: 0.625rem;
    width: 50%;
    margin-right: -0.24rem;
    + button {
      margin-top: -4px;
      margin-left: -1px;
      text-transform: capitalize;
      border: 2px solid $brand-primary;
    }
  }
  .cart-summary-line .label,
  .promo-name {
    color: $brand-warning;
    font-weight: 600;
    margin-bottom: 0;
    a {
      font-weight: normal;
      color: $gray-darker;
      display: inline-block;
    }
  }
  .promo-name {
    .cart-summary-line {
      .label {
        font-weight: normal;
        color: $gray-dark;
      }
      span {
        color: $warning-second;
      }
    }
    .material-icons {
      font-size: 1.2rem;
      margin-left: 0.4rem;
    }
  }
  .promo-code-button {
    display: block;
    text-align: center;
    padding: 0 0 1rem;

    &.with-discounts {
      display: none;
    }

    &.cancel-promo {
      color: $brand-primary;
      margin-bottom: 0;
      &[aria-expanded="true"] {
        display: block;
        padding: 0;
        margin-top: 1rem;
      }
    }
  }
  &.promo-highlighted {
    padding: 0 1rem;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
}
.product-line-grid {
  display: flex;
  border-bottom: solid 1px $gray-light;
  .qty {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    .input-group {
      box-shadow: none;
    }
  }
}
/** CONTENT LEFT **/
.product-line-grid-left {
  display: flex;
  padding: 2em 0 2em 0;

  .product-line-info {
    padding-left: 2em;
    .product-line-info {
      text-align: left;
      padding-left: 0 !important;
    }
  }
  img {
    max-width: 100%;
  }
}
/** CONTENT BODY **/
.product-line-grid-body {
  display: flex;
  padding: 2em 0 2em 0;
  .price {
    color: black;
    font-weight: normal;
  }
  > .product-line-info {
    padding-left: 25px;
    > .label {
      padding: 0;
      line-height: inherit;
      text-align: left;
      white-space: inherit;
    }
    > .out-of-stock {
      color: red;
    }
    > .available {
      color: $brand-success;
    }
    > .unit-price-cart {
      padding-left: 0.3125rem;
      font-size: 0.875rem;
      color: $gray;
    }
  }
}
/** CONTENT RIGHT **/
.product-line-grid-right {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  .cart-line-product-actions,
  .product-price {
    color: $gray-darker;
    /*     line-height: 36px; */
    .remove-from-cart {
      color: $gray-darker;
      display: inline-block;
      margin-top: 0.3125rem;
    }
  }
}

/** REMOVE **/
.product-line-grid-remove {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  .material-icons {
    color: $gray;
    &:hover {
      color: black;
    }
  }
}
/* Card preview and label */
.cart-preview {
  .header {
    a {
    }
    span.cart-label {
      display: none;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .product-line-grid-body {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .cart-items {
    padding: 1rem 0;
  }
  .cart-item {
    border-bottom: 1px solid $gray-light;
    &:last-child {
      border-bottom: 0;
    }
  }
  .cart-grid-body {
    .cart-overview {
      padding: 0;
    }
    .no-items {
      padding: 1rem;
      display: inline-block;
    }
  }
  .product-line-grid-left {
    padding-right: 0 !important;
  }
}

@media (max-width: 360px) {
  .product-line-grid-right {
    .qty {
      width: 100%;
    }
    .price {
      width: 100%;
    }
  }
}

#_desktop_cart {
  position: relative;
  .header {
    position: relative;
    span {
      &.cart-products-count {
        background: $pourpre;
        position: absolute;
        bottom: -7px;
        right: -10px;
        display: inline-block;
        text-align: center;
        border-radius: 100%;
        font-size: 0.7rem;
        height: 20px;
        width: 20px;
        color: white;
      }
      &.add_shopping_cart {
        cursor: pointer;
      }
    }
  }
  // dropdown
  &:hover {
    color: $gray-darker;
    .cart-hover-content {
      display: block;
    }
  }
  .cart-hover-content {
    background: #f6f6f6;
    box-shadow: -3px -1px 10px #7a7a7a;
    position: fixed;
    right: 0px;
    top: 0;
    width: 25%;
    height: 100%;
    padding: 3em;
    z-index: 99;
    text-align: right;
    transition: all 400ms;
    &.hidden-modal {
      right: -100%;
    }
    .header-cart-hover {
      text-align: left;
      .close-modal {
        cursor: pointer;
        color: $gray;
        font-size: 36px;
        &:hover {
          color: $gray-darker;
        }
      }
    }
    .content-cart-hover {
      padding-top: 3em;
    }
    .info-modal-container {
      display: flex;
      div {
        padding: 0;
      }
      .info-modal {
        display: flex;
        text-align: left;
        color: black;
        span {
          margin-bottom: 0.5em;
          display: flex;
        }
        .product-price {
          color: $pourpre;
        }
      }
      img {
        width: 80px;
        margin-right: 1em;
      }
    }
    .footer-cart-hover {
      position: absolute;
      bottom: 0;
      left: 3em;
      right: 3em;
      padding-bottom: 3em;
      padding-top: 3em;
      border-top: 1px solid #ccc;
      .cart-subtotals {
        .products {
          display: flex;
          div {
            padding: 0em;
          }
          div:first-child {
            text-align: left;
          }
          .value {
            color: $pourpre;
          }
        }

        .shipping {
          display: none;
        }
      }
      .cart-wishlist-action {
        .btn-primary {
          color: white;
          width: 100%;
          margin: 1em 0;
          padding: 1em;
        }
        .btn-primary:first-child {
          margin: 1em 0em 0 0;
          padding: 1em;
          background: white;
          color: black;
          border: 1px solid;
        }
      }
    }
  }
  #off-canvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* &.modal-is-visible {
    &:before {
      background: #212121a8;
      content: "<div class=row></div>";
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 98;
      transition: all 400ms;
      cursor: pointer;
    }
  } */
}
