$thumbnail-size: 250px;
$product-description-height: 70px;

#products,
.featured-products,
.product-accessories,
.product-miniature {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $gray-darker;
    font-size: $font-size-sm;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
  }
  .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: $thumbnail-size;
    background: white;
    &:hover,
    &:focus {
      .highlighted-informations {
        right: 0px;
        display: inline-block;
        &::after {
          opacity: 1;
        }
        /* &.no-variants {
          bottom: 4.2rem;
        } */
      }
      .product-description::after {
        content: "";
        /* border-top: $gray 1px solid; */
        position: absolute;
        width: 80%;
        top: 0;
        left: 10%;
        opacity: 0.25;
      }
    }
    .product-thumbnail {
      position: relative;
      height: 100%;
      &:hover {
        img {
          &.main-img {
            opacity: 0;
          }
          &.hover-img {
            opacity: 1;
          }
        }
      }
      img {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /*         margin: auto; */
        transition: all 500ms;
        &.hover-img {
          opacity: 0;
        }
      }
    }
    .thumbnail-inner {
      position: relative;
      margin-bottom: 1.563rem;
      height: $thumbnail-size;
      width: $thumbnail-size;
      overflow: hidden;
    }
  }
  .products-section-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .product-title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0.7rem;
  }
  .product-price-and-shipping {
    color: $gray;
    font-weight: 700;
    text-align: left;
    .discount-product {
      display: none;
    }
  }
  .variant-links {
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.25em;
    padding-top: 0.1875rem;
    min-height: 2.5rem;
    background: white;
  }
  .highlighted-informations {
    position: absolute;
    bottom: 0;
    right: -110px;
    z-index: 2;
    background: white;
    text-align: center;
    height: 54px;
    width: 110px;
    height: 3.125rem;
    transition: all 500ms;
    .quick-view {
      color: $gray;
      font-size: $base-font-size;
      padding: 0.5rem 0.5rem;
      i {
        font-size: 36px;
      }
      &:hover {
        color: #a42121;
      }
    }
    #form-quick-add {
      width: 54px;
      display: inline-block;
    }
    #btn-quick-add {
      color: $gray;
      font-size: $base-font-size;
      background-color: white;
      box-shadow: none;
      padding: 0.5rem 0.5rem;
      i {
        font-size: 36px;
        color: $gray;
        margin: 0;
        &:hover {
          color: #a42121;
        }
      }
    }
  }

  .product-description {
    position: absolute;
    background: white;
    width: $thumbnail-size;
    bottom: 0;
    height: $product-description-height;
    .h3 {
      text-align: left;
    }
  }

  .product-miniature {
    margin: 0 0.8125rem;
    .product-flags {
      align-items: flex-end;
      li.product-flag {
        min-width: 3.125rem;
        min-height: 1.875rem;
        margin-right: 10px;
        font-weight: 600;
        &.online-only {
          top: 13.1rem;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: red;
    text-decoration: line-through;
    font-size: $font-size-sm;
    display: inline-block;
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    clear: both;
    color: $gray;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  #products,
  .featured-products,
  .product-accessories {
    .thumbnail-container {
      @include box-shadow;
      .product-description {
        box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .featured-products {
    .products {
      justify-content: center;
    }
  }
}
